@import 'src/styles/settings.scss';

.c-button {
  padding: $space-xs $space-s;
  margin: $space-s;

  background: $color-primary;
  color: $color-white;

  font-size: $fs-base;
  border: 2px solid $color-primary;
  border-radius: $space-m;
  cursor: pointer;

  &--small {
    min-width: $width-small;
    padding: $space-s $space-s;
  }

  &--medium {
    min-width: $width-medium;
    padding: $space-s $space-s;
  }

  &--large {
    min-width: $width-large;
    padding: $space-s $space-m;
  }

  &--secondary {
    background: $color-white;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }

  &:hover {
    transition: 0.2s;
    background: $color-white;
    color: $color-primary;
  }
}
