@import 'src/styles/settings.scss';

.c-button {
  padding: $space-xs $space-s;
  margin: $space-s;

  background: $color-primary;
  color: $color-white;

  font-size: $fs-base;
  border-radius: $space-m;
  cursor: pointer;

  &--outline {
    &--solid {
      border: 2px solid $color-primary;
    }

    &--none {
      border: none;
    }
  }

  &__icon {
    width: $fs-medium;
  }

  &__label {
    margin-left: $space-s;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--round {
    min-width: 0;
    padding: 0 $space-l;
  }

  &--small {
    min-width: $width-small;
    padding: $space-s $space-s;
  }

  &--medium {
    min-width: $width-medium;
    padding: $space-s $space-s;
  }

  &--large {
    min-width: $width-large;
    padding: $space-s $space-m;
  }

  &:hover {
    transition: 0.2s;
    background: $color-white;
    color: $color-primary;
  }

  &--secondary {
    background: $color-white;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }
}
