@import 'src/styles/settings.scss';

.c-login {
  &__link {
    font-weight: $fw-medium;
    text-decoration: underline;
  }

  &__input {
    margin: $space-s 0;
  }

  &__error-message {
    color: $color-red;
  }

  &__actions-message {
    margin-top: $space-m;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: $space-s;
  }
}
