@import 'src/styles/settings.scss';

.c-input {
  border-radius: $space-m;
  border: none;
  outline: none;

  font-size: $fs-base;
  color: $color-gray-900;

  &--align-center {
    text-align: center;

    &::placeholder {
      text-align: center;
    }
    ::-webkit-input-placeholder {
      text-align: center;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }
    :-ms-input-placeholder {
      text-align: center;
    }
  }

  &--align-left {
    text-align: left;

    &::placeholder {
      text-align: left;
    }
    ::-webkit-input-placeholder {
      text-align: left;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      text-align: left;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: left;
    }
    :-ms-input-placeholder {
      text-align: left;
    }
  }

  &--gray {
    background: $color-gray-100;
  }

  &--white {
    background: $color-white;
  }

  &--small {
    width: $width-small;
    padding: $space-s $space-s;
  }

  &--medium {
    width: $width-medium;
    padding: $space-s $space-s;
  }

  &--large {
    width: $width-large;
    padding: $space-s $space-m;
  }
}
